:root {
  font-family: "Courier", "Courier New", monospace;
  overflow-y: auto;
}

/* Material Symbols https://developers.google.com/fonts/docs/material_symbols/#use_in_web */
/* Font was downloaded from https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0 */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/material-symbols-outlined.woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  textarea,
  button {
    @apply focus-visible:outline-none;
  }
}
